lex/*/fast
suc/*/fast
scrutinizer/presentation.txt
scrutinizer/ut*
scrutinizer/*csv*
scrutinizer/*Csv*
scrutinizer/skrutten*
scrutinizer/demo*
scrutinizer/Makefile.bak
rulesets/*/*.opt
scrutinizer/Makefile.normal
scrutinizer/Makefile.parse
scrutinizer/Makefile.www
scrutinizer/x1.xml
*~
scrutinizer/scrutinizer
scrutinizer/scrutinizer.normal
scrutinizer/scrutinizer.parse
scrutinizer/wwwscrutinizer
scrutinizer/tagg
scrutinizer/testlibrary
*.o
scrutinizer/libgranska.so
scrutinizer/messages
scrutinizer/scrut/lex.yy.c
scrutinizer/scrut/rules.output
scrutinizer/scrut/rules.tab.cpp
scrutinizer/scrut/rules.tab.h
